.container{
    display: flex;
    flex-direction: row;
    height: 600px;
}
.navegacao{
    background-color: orange;
    width: 200px;
    height: 100%;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
}
.cabecalho{
    background-color: skyblue;
    height: 100px;
}
.conteudo-e-barra-lateral{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 800px;
}
.conteudo{
    background-color: purple;
    width: 100%;
}
.barra-lateral{
    background-color: lightcoral;
    width: 200px;
}
.rodape{
    background-color: skyblue;
    height: 100px;
    width: 100%;
}